# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# custom ignore
bin
.settings
.classpath
.project
.springBeans
.settings
# git clone --single-branch -b releases https://github.com/saintkim12/mycore.java.git .releases
.releases

.vscode
